#home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#subnav {
    flex-grow: 1;
    margin-right: 0;
}

#patients {
    height: 100%;
    border-right: 1px solid black;
}

.patient-header {
    font-weight: bold;
    font-size: 20px;
}

#patients li:not(.patient-header) {
    cursor: pointer;
}

#detailData {
    font-weight: bold;
    font-size: 18px;
}

#detailData tr td:last-child {
    padding-left: 10px;
}

#vitals > .card {
    width: 50%;
    text-align: center;
}

.message-list-wrap {
    height: 0;
    overflow: auto;
}

.message-list > div {
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    width: 66%;
    margin-top: 4px;
    color: white;
    display: flex;
}

.message-list .you {
    background-color: rgb(143, 3, 3);
}

.message-list .me {
    position: relative;
    left: 34%;
    background-color: rgb(114, 113, 113);
}
